//
   Created by charlie on 3/6/16.

block make-html
    h1= title
    p <em>by  #{author}</em>

    form#elfform(role="form")

        div
            p.title Source
            select#dirsToWalk(name='dirsToWalk')

        div
            p.title Destination
            select#destinationDirs(name='destinationDirs')

        div.checkbox
            p.title Options
            label
                input#highlight(type='checkbox', name="option1" value='option1' checked)
                |  <span class=title>Highlighting<span>
            br
            p.optionText <span class=title>Most Recent Date</span>: <span id=mostRecentDate></span>

            div
                select#themes(name='themes')

        div.elf-radio
            p.title Walk Types
            .btn-group#walktype(data-toggle='buttons')
                label.btn.btn-default.active
                    input#qSingle(type='radio', name='walktype', checked='checked', value='Single')
                    |  Single
                label.btn.btn-default
                    input#qPaired(type='radio', name='walktype', value='Paired')
                    |  Paired
                label.btn.btn-default
                    input#qCustom(type='radio', name='walktype', value='Custom')
                    |  Custom


        div
            button#walk.btn.btn-primary(type="submit") Walk
            button#loadConfig.btn.btn-warning Load Config


    div
        ul#displayList

    div
        pre#displayArea

    div
        ul#debug